<html>
    <head>

        <title><link rel="icon" href="../../static/images/logo.png" />Welcome-QnA IITK</title>
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="../../static/css/materialize.min.css" rel="stylesheet">
        <script type="text/javascript" src="../../static/js/materialize.min.js"></script>
        <script type="text/javascript" src="../../static/js/jquery.min.js"></script>
    </head>

    <body>
        <header>
            
        </header>

        <main>

        </main>

        <footer>

        </footer>
    </body>

</html>
